* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Windsurf primary";
  src: url("https://windsurf.com/_next/static/media/3ecc75a922018515-s.p.woff2");
}

@font-face {
  font-family: "Windsurf secondary";
  src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #011c42;
  height: 12vh;
  align-items: center;
  padding-left: 6vw;
  font-family: "Windsurf secondary";

  text-transform: uppercase;
}

header a {
  font-size: 12px;
  font-weight: bold;
}

nav a {
 padding:8px;
 border: radius 8px;
}
nav a:hover  {
  background-color: #34e8bb;
}

nav a i {
 transition: rotate 0.15s ease-in-out;
}

nav a:hover i {
  rotate: 180deg;}

.windsurf-logo {
  width: 160px;
}

nav {
  display: flex;
  gap: 40px;
}

.header-last {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-profile {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
}

.download-btn {
  background-color: #34e8bb;
  color: black;
  height: 12vh;
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 40px;
}
body {
    background-color: #06294a;
    color: white;
}
.container {
  max-width: 900px;

}
.btn {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.primary {
    background-color: #8fd6c7;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.secondary {
    background-color: #223c5c;
    color: white;
    border: 1px solid #3c587a;
}

.description {
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.6;
    max-width: 800px;
}